In [87]:
import pandas as pd

In [88]:
df = pd.read_csv('../data/raw/OnlineRetail.csv', encoding='latin1')

In [89]:
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,01-12-2010 8.26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,01-12-2010 8.26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,01-12-2010 8.26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,01-12-2010 8.26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,01-12-2010 8.26,3.39,17850.0,United Kingdom

In [90]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  object
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 33.1+ MB

In [91]:
df.describe()

            Quantity      UnitPrice     CustomerID
count  541909.000000  541909.000000  406829.000000
mean        9.552250       4.611114   15287.690570
std       218.081158      96.759853    1713.600303
min    -80995.000000  -11062.060000   12346.000000
25%         1.000000       1.250000   13953.000000
50%         3.000000       2.080000   15152.000000
75%        10.000000       4.130000   16791.000000
max     80995.000000   38970.000000   18287.000000

In [63]:
df.dropna(subset=['CustomerID'], inplace=True)

In [92]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  object
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 33.1+ MB

In [65]:
import pandas as pd

# Step 1: Create or load the DataFrame.
# In your actual project, you would load your data file like this:
# df = pd.read_csv('your_data_file.csv')

# For this example, we'll create a sample DataFrame.
data = {'InvoiceDate': [' 2025-01-10 ', ' 2025-02-05', 'Invalid Date', '2025-03-20 ']}
df = pd.DataFrame(data)

# Step 2: Now that 'df' is defined, your original code will work.
df['InvoiceDate'] = df['InvoiceDate'].str.strip()
df['InvoiceDate'] = pd.to_datetime(df['InvoiceDate'], errors='coerce')

# Display the result to verify
print(df)
print("\n")
print(df.info())

  InvoiceDate
0  2025-01-10
1  2025-02-05
2         NaT
3  2025-03-20


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 1 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   InvoiceDate  3 non-null      datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 164.0 bytes
None

In [66]:
df = pd.read_csv('../data/raw/OnlineRetail.csv', encoding='latin1')

In [67]:
df['InvoiceDate'] = df['InvoiceDate'].str.strip()
df['InvoiceDate'] = pd.to_datetime(df['InvoiceDate'], format='%d-%m-%Y %H.%M', errors='coerce')

In [68]:
df = df[df['Quantity'] > 0]

In [69]:
print("DataFrame after filtering:")
print(df.info())

DataFrame after filtering:
<class 'pandas.core.frame.DataFrame'>
Index: 531285 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    531285 non-null  object
 1   StockCode    531285 non-null  object
 2   Description  530693 non-null  object
 3   Quantity     531285 non-null  int64
 4   InvoiceDate  531285 non-null  datetime64[ns]
 5   UnitPrice    531285 non-null  float64
 6   CustomerID   397924 non-null  float64
 7   Country      531285 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 36.5+ MB
None

In [70]:
print("\nMinimum Quantity:", df['Quantity'].min())

Minimum Quantity: 1

In [95]:
df['Revenue'] = df['Quantity'] * df['UnitPrice']

In [96]:
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Revenue
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,01-12-2010 8.26,2.55,17850.0,United Kingdom,15.30
1,536365,71053,WHITE METAL LANTERN,6,01-12-2010 8.26,3.39,17850.0,United Kingdom,20.34
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,01-12-2010 8.26,2.75,17850.0,United Kingdom,22.00
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,01-12-2010 8.26,3.39,17850.0,United Kingdom,20.34
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,01-12-2010 8.26,3.39,17850.0,United Kingdom,20.34

In [97]:
# Group by customer and calculate F and M
rfm = df.groupby('CustomerID').agg({
    'InvoiceNo': 'nunique',  # Count of unique invoices for Frequency
    'Revenue': 'sum'          # Sum of revenue for Monetary
})

# Rename the columns to be more descriptive
rfm.rename(columns={'InvoiceNo': 'Frequency', 'Revenue': 'Monetary'}, inplace=True)

# Display the first 5 rows of our new table
rfm.head()

            Frequency  Monetary
CustomerID
12346.0             2      0.00
12347.0             7   4310.00
12348.0             4   1797.24
12349.0             1   1757.55
12350.0             1    334.40

In [99]:
import pandas as pd

# Step 1: Ensure 'InvoiceDate' is in datetime format
# The format parameter is crucial to correctly interpret your date strings like '01-12-2010 8.26'
df['InvoiceDate'] = pd.to_datetime(df['InvoiceDate'], format='%d-%m-%Y %H.%M', errors='coerce')

# --- Your original code will now work correctly ---

# Step 2: Determine the snapshot date (one day after the last transaction)
snapshot_date = df['InvoiceDate'].max() + pd.Timedelta(days=1)

# Step 3: Calculate Recency for each customer
recency_df = df.groupby('CustomerID')['InvoiceDate'].max().reset_index()
recency_df.columns = ['CustomerID', 'LastPurchaseDate']
recency_df['Recency'] = (snapshot_date - recency_df['LastPurchaseDate']).dt.days

# --- The rest of your code for merging and displaying will also work ---

In [100]:
rfm.head()

            Frequency  Monetary
CustomerID
12346.0             2      0.00
12347.0             7   4310.00
12348.0             4   1797.24
12349.0             1   1757.55
12350.0             1    334.40

In [101]:
# Determine the snapshot date (one day after the last transaction)
snapshot_date = df['InvoiceDate'].max() + pd.Timedelta(days=1)

# Calculate Recency for each customer
recency_df = df.groupby('CustomerID')['InvoiceDate'].max().reset_index()
recency_df.columns = ['CustomerID', 'LastPurchaseDate']
recency_df['Recency'] = (snapshot_date - recency_df['LastPurchaseDate']).dt.days

# Merge Recency into our main RFM table
rfm = pd.merge(rfm, recency_df[['CustomerID', 'Recency']], on='CustomerID')

# Display the first 5 rows of the complete RFM table
rfm.head()

   CustomerID  Frequency  Monetary  Recency
0     12346.0          2      0.00      326
1     12347.0          7   4310.00        2
2     12348.0          4   1797.24       75
3     12349.0          1   1757.55       19
4     12350.0          1    334.40      310

In [102]:
# This should work now!
rfm['churn_flag'] = (rfm['Recency'] > 90).astype(int)
rfm.head()

   CustomerID  Frequency  Monetary  Recency  churn_flag
0     12346.0          2      0.00      326           1
1     12347.0          7   4310.00        2           0
2     12348.0          4   1797.24       75           0
3     12349.0          1   1757.55       19           0
4     12350.0          1    334.40      310           1

In [104]:
# STEP 1: Create the 'churn_flag' column.
# This is the crucial step that was being missed.
rfm['churn_flag'] = (rfm['Recency'] > 90).astype(int)

# STEP 2: Now that 'churn_flag' is guaranteed to exist, prepare the data for the model.
from sklearn.model_selection import train_test_split

# Define features (X) and target (y) to prevent data leakage
X = rfm[['Frequency', 'Monetary']]
y = rfm['churn_flag'] # This line will now work!

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42, stratify=y)

print("Data has been prepared for the model successfully!")

Data has been prepared for the model successfully!

In [105]:
print("Checking the training data outcomes:")
print(y_train.value_counts())

Checking the training data outcomes:
churn_flag
0    2334
1    1163
Name: count, dtype: int64

In [106]:
print("Checking for missing values in X_train:")
print(X_train.isnull().sum())

print("\n-------------------------------------\n") # This just adds a separator

print("Checking for missing values in X_test:")
print(X_test.isnull().sum())

Checking for missing values in X_train:
Frequency    0
Monetary     0
dtype: int64

-------------------------------------

Checking for missing values in X_test:
Frequency    0
Monetary     0
dtype: int64

In [107]:
from sklearn.ensemble import RandomForestClassifier

# Initialize the Random Forest model
model = RandomForestClassifier(n_estimators=100, random_state=42)

# Train the model on the training data
model.fit(X_train, y_train)

print("AI model has been trained successfully!")

AI model has been trained successfully!

In [109]:
from sklearn.metrics import accuracy_score, roc_auc_score

# Make standard predictions
y_pred = model.predict(X_test)

# --- ROBUST PROBABILITY PREDICTION (THE FIX) ---
# Get the probability predictions from the model
proba_output = model.predict_proba(X_test)

# This is a safety check for the rare error you are seeing
if proba_output.ndim == 2 and proba_output.shape[1] == 2:
    # This is the normal case: we get two columns of probabilities
    # We take the second column (the probability of "churn")
    y_pred_proba = proba_output[:, 1]
else:
    # This is your rare edge case: we only get one column
    # We will print a warning and use the main prediction to avoid a crash
    # The accuracy score will still be correct.
    print("Warning: A rare model prediction error occurred. ROC-AUC score may be inaccurate.")
    y_pred_proba = y_pred
# --- END OF FIX ---

# Calculate accuracy and ROC-AUC score
accuracy = accuracy_score(y_test, y_pred)
roc_auc = roc_auc_score(y_test, y_pred_proba)

print(f"Model Accuracy: {accuracy:.4f}")
print(f"Model ROC-AUC Score: {roc_auc:.4f}")

Model Accuracy: 0.6320
Model ROC-AUC Score: 0.6606

In [111]:
import pandas as pd

# Example: create the RFM dataframe before saving it
rfm = pd.DataFrame({
    'CustomerID': [1, 2, 3],
    'Recency': [10, 20, 30],
    'Frequency': [2, 4, 5],
    'Monetary': [100, 150, 200]
})

In [114]:
import pandas as pd

# ... your RFM calculation code ...
rfm = pd.DataFrame({
    "CustomerID": [1001, 1002, 1003],
    "Recency": [5, 12, 20],
    "Frequency": [10, 3, 7],
    "Monetary": [250, 90, 140]
})

output_path = "customer-churn-strategy/data/processed/churn_scores.csv"
import os
os.makedirs(os.path.dirname(output_path), exist_ok=True)

rfm.to_csv(output_path, index=False)
print("File saved successfully!")

File saved successfully!

In [115]:
# Get churn probability scores for all customers
# We must use the EXACT SAME features the model was trained on: 'Frequency' and 'Monetary'
rfm['churn_probability'] = model.predict_proba(rfm[['Frequency', 'Monetary']])[:, 1]

# Save the final data with the corrected path
rfm.to_csv('../data/processed/churn_scores.csv')

# Display the final table with scores
rfm.head()

   CustomerID  Recency  Frequency  Monetary  churn_probability
0        1001        5         10       250               0.49
1        1002       12          3        90               0.66
2        1003       20          7       140               0.54

In [116]:
import pandas as pd

# Load the exact same file the dashboard is trying to use
final_data = pd.read_csv('../data/processed/churn_scores.csv')

# Print the list of columns that are actually in the file
print("Columns found in the churn_scores.csv file:")
print(list(final_data.columns))

# Display the first 5 rows of the file
print("\nFirst 5 rows of the file:")
final_data.head()

Columns found in the churn_scores.csv file:
['Unnamed: 0', 'CustomerID', 'Recency', 'Frequency', 'Monetary', 'churn_probability']

First 5 rows of the file:

   Unnamed: 0  CustomerID  Recency  Frequency  Monetary  churn_probability
0           0        1001        5         10       250               0.49
1           1        1002       12          3        90               0.66
2           2        1003       20          7       140               0.54